Feature 1: 3 new clinics
The software SHALL track Clinics by Clinic ID.
The software SHALL associate readings with a particular Clinic ID.

Feature 2: persist data
The software SHALL store application state automatically and regularly.
The software SHALL reload all stored data at application start.
The software SHALL allow the user to export all data into a file that can be loaded.

Feature 3: read XML files
The software SHALL allow importing reading, clinic, and patient information stored in a JSON format.
The software SHALL allow importing reading, clinic, and patient information stored in an XML format.
The software SHALL discard readings with missing data.

Feature 4: Graphical user interface:
The software SHALL allow the user the navigate easily using buttons.
The software SHALL allow the user to view readings, patients and clinics loaded onto the application.
The software SHALL allow the user to view readings associated to a specific patient.
The software SHALL allow the user to view patients associated to a specific clinic.
The software SHALL allow the user to create new data entries easily and safely.
